


a {
    color: black;
    text-decoration: none;
}

.divCategorie {
    display: flex;
    width: min-content;
}

.divLink {
    border: 1px solid black;
    padding: 20px;
}

button {
    background-color: white;
    border : 1px solid;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
}


